@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

html, body{
    min-height: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(#f4ffff,#c1cde5);
    color: #15001c;
}

a {
    color: #61416d;
    text-decoration: none;
}

a:hover, a.active {
    color: #361942;
    transition: color ease .5s;
}

div.container {
    width: 80vw;
    margin: 0 auto;
}

nav, footer {
    width: 100%;
    min-height: 10vh;
    display: flex;
}

nav p, footer p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin:auto;
}

.active {
    text-decoration: underline;
    color: black;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    height: 80vh;
}

main div {
    width: 50%;
    margin:auto;
    line-height: 1.5;
    text-align: right;
}

main div:first-child h1, main div:first-child p{
    text-align: left;
}

main div img{
    height:50vh;
    width:auto;
    margin: 0 auto;
}

@media (orientation:portrait){

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;    
        height: auto;
        min-height: 80vh
    }

    main div {
        width: 100%;
        margin:auto;
        line-height: 1.5;
        text-align: center;
    }

    main div img{
        max-width:100vw;
        height:auto;
        margin: 1rem 0;
    }   

}